body{
	margin :0;
	padding: 0px;
	font-family: Libre Baskerville;
	text-align: center;
}
.fondo_transparente{
	position: fixed;
	width: 100%;
	height: 100%;	
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 999;
	transition: 0.2s;
}
.modal{
	position: absolute;
	width: auto;
	height: auto;
	top: 300px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	border-radius: 15px;
}

.modal_titulo{
	padding: 10px;
	background: #8E634A;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}

.mensaje{  
	position: relative;
	font-family: Libre Baskerville;          
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px;  
}

.modal .separator{
	border-bottom: 1px solid rgba(142, 99, 74, .5);
}
.modal .aceptar{
	text-decoration: none;
	display: inline-block;
	border: 2px solid rgba(193, 191, 191, .5);
	border-radius: 10px;
	right: 0;
	text-align: center;
	color: #8E634A;
	background: #FFF;
	padding: 3px;
	transition: .2s;
}

.modal .aceptar:hover{
	border: 2px solid rgba(193, 191, 191, .1);
	transform: translateY(-2px);
	cursor: pointer;
}


